/*CSS DOCUMENT*/

body {
    padding: 2em;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

img {
    width: 100%;
}

h1 {
    margin: 0 0 .2em 0;
}

h2 {
    font-style: italic;
    text-transform: lowercase;
    font-size: 1em;
    color: #aaaaaa;
    margin: 0 0 1em 0;
}

h3 {
    margin-bottom: .6em;
    margin-top: 1.2em;
    font-size: 1.8em;
    color: #777777;
}

p {
    font-size: .9em;
    line-height: 1.4em;
    color: #777777;
}

.maincontent {
    line-height: 1.4em;

}

ul {
    padding-left: 20px;
    margin: 0;
}

ul li {
    padding-left: 10px;
    margin-bottom: .2em;
}

ol {
    padding-left: 20px;
    margin: 0;
}

ol li {
    padding-left: 10px;
    margin-bottom: .7em;
}

h6{
    color: #777777;
}